NODE_ENV=development # development or production
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/pedigree?schema=public"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3011/v1/auth/google/callback
JWT_SECRET=
FRONTEND_URL=http://localhost:3010